{%- comment -%} snippets/accordion-item.liquid {%- endcomment -%}
<div class="accordion__item">
  <button type="button" class="accordion__toggle">
    {{ block.settings.heading }}
    <span class="accordion__icon">+</span>
  </button>
  <div class="accordion__content" style="display: none; height: 0;">
    {{ block.settings.content }}
  </div>
</div>
