{% schema %}
  {
    "name": "LP Specifications Section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }, {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Features & Specifications"
      }, {
        "type": "richtext",
        "id": "content",
        "label": "Content"
      }
    ],
    "presets": [
      {
        "name": "LP Specifications Section"
      }
    ]
  }
{% endschema %}

<div class="feature-specifications-section flex flex-col md:flex-row bg-black">
  <div class="image-container w-full md:w-[55%]">
    {% if section.settings.image %}
      <img
        src="{{ section.settings.image | img_url: 'master' }}"
        alt="Feature Image"
        class="w-full h-auto object-cover">
    {% endif %}
  </div>
  <div class="content-container w-full md:w-[45%] md:pr-[5%] flex flex-col justify-center text-white bg-black p-[16px] md:p-4">
    <h2 class="md:text-[40px] text-[28px] font-bold mb-[16px]">{{ section.settings.heading }}</h2>
    <p class="whitespace-pre-line text-[16px] leading-[24px]">{{ section.settings.content }}</p>
  </div>
</div>
<style>
  .feature-specifications-section ul {
    margin-top: 50px;
    color: white;
    font-size: 24px;
    font-weight: 400;
    font-family: "Barlow"
    , sans-serif;
    position: relative;
    padding: 0 10px;
  }
  .feature-specifications-section ul li {
    margin-bottom: 20px;
    position: relative;
  }
  .feature-specifications-section ul li:before {
    position: absolute;
    content: "";
    left: -18px;
    top: 0.8em;
    height: 5px;
    width: 5px;
    border-radius: 100%;
    background: white;
  }
  @media (max-width: 768px) {
    .feature-specifications-section ul {
      margin-top: 10px;
      color: white;
      font-size: 16px;
      font-weight: 400;
      font-family: "Barlow"
      , sans-serif;
      position: relative;
      padding: 0 20px;
    }
    .feature-specifications-section ul li {
      margin-bottom: 10px;
      position: relative;
    }
  }
</style>