<script src="https://cdn.tailwindcss.com"></script>
{% schema %}
{
  "name": "Comparison Section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "HOW ATIVAFIT STANDS OUT"
    },
    {
      "type": "image_picker",
      "id": "left_image",
      "label": "Left Side Image"
    },
    {
      "type": "image_picker",
      "id": "product_image",
      "label": "Product Image"
    },
    {
      "type": "image_picker",
      "id": "competitor_image",
      "label": "Competitor Image"
    }
  ],
  "presets": [
    {
      "name": "Comparison Section Gun",
      "category": "Custom"
    }
  ]
}
{% endschema %}

<section class="md:py-[50px] px-[20px] py-[20px]">
  <h2 class="md:text-[32px] text-[28px] font-bold text-left max-w-[1310px] mx-auto">{{ section.settings.heading }}</h2>
  <div class="flex flex-col md:flex-row mt-[30px] max-w-[1310px] mx-auto">
    <div class="md:w-[45%]">
      <img src="{{ section.settings.left_image | image_url }}" alt="Comparison Left Image" class="w-full h-full object-cover">
    </div>

    <div class="md:w-[55%] relative overflow-hidden hover">
      <div class="flex text-center items-center relative h-full">
        <div class="flex flex-col items-center w-[50%] h-full justify-between border border-black hover:border-[#eb7122] p-[20px]">
          <div class="text-center">
            <div class="w-[133px] h-[144px] md:w-[280px] md:h-[350px] mx-auto">
              <img src="{{ section.settings.product_image | image_url }}" alt="Product" class="w-full h-full object-cover">
            </div>
            <p class="text-[14px] font-bold mt-[10px] min-h-[70px] md:min-h-auto uppercase">Ativafit Hot & Cold Massage Gun</p>
          </div>
          <ul class="mt-[10px] space-y-[20px] ml-[-50px] md:ml-0">
            <li class="text-green-500 text-[18px]"><svg width='27' height='27' viewBox='0 0 27 27' fill='none' xmlns='http://www.w3.org/2000/svg'><circle cx='13.7789' cy='13.6183' r='13.2155' fill='#2E7B20'/><path d='M6.90692 13.9764L12.3056 19.4331L20.651 7.80347' stroke='white' stroke-width='4.22896' stroke-linecap='round' stroke-linejoin='round'/></svg></li>
            <li class="text-green-500 text-[18px]"><svg width='27' height='27' viewBox='0 0 27 27' fill='none' xmlns='http://www.w3.org/2000/svg'><circle cx='13.7789' cy='13.6183' r='13.2155' fill='#2E7B20'/><path d='M6.90692 13.9764L12.3056 19.4331L20.651 7.80347' stroke='white' stroke-width='4.22896' stroke-linecap='round' stroke-linejoin='round'/></svg></li>
            <li class="text-green-500 text-[18px]"><svg width='27' height='27' viewBox='0 0 27 27' fill='none' xmlns='http://www.w3.org/2000/svg'><circle cx='13.7789' cy='13.6183' r='13.2155' fill='#2E7B20'/><path d='M6.90692 13.9764L12.3056 19.4331L20.651 7.80347' stroke='white' stroke-width='4.22896' stroke-linecap='round' stroke-linejoin='round'/></svg></li>
            <li class="text-green-500 text-[18px]"><svg width='27' height='27' viewBox='0 0 27 27' fill='none' xmlns='http://www.w3.org/2000/svg'><circle cx='13.7789' cy='13.6183' r='13.2155' fill='#2E7B20'/><path d='M6.90692 13.9764L12.3056 19.4331L20.651 7.80347' stroke='white' stroke-width='4.22896' stroke-linecap='round' stroke-linejoin='round'/></svg></li>
            <li class="text-green-500 text-[18px]"><svg width='27' height='27' viewBox='0 0 27 27' fill='none' xmlns='http://www.w3.org/2000/svg'><circle cx='13.7789' cy='13.6183' r='13.2155' fill='#2E7B20'/><path d='M6.90692 13.9764L12.3056 19.4331L20.651 7.80347' stroke='white' stroke-width='4.22896' stroke-linecap='round' stroke-linejoin='round'/></svg></li>
          </ul>
        </div>
        <ul class="flex flex-col gap-[12px] md:gap-[16px] justify-center md:text-[14px] text-[11px] font-semibold absolute bottom-[20px] left-[50%] transform -translate-x-1/2 translate-y-0">
          <li class="bg-white py-[5px] uppercase">Dual-Temperature Therapy</li>
          <li class="bg-white py-[5px] uppercase">Adjustable Speed & Intensity</li>
          <li class="bg-white py-[5px] uppercase">Quiet Yet Powerful</li>
          <li class="bg-white py-[5px] uppercase">Lightweight & Travel-Friendly</li>
          <li class="bg-white py-[5px] uppercase">Long-Lasting Battery</li>
        </ul>
        <div class="flex flex-col items-center w-[50%] h-full justify-between border border-black hover:border-[#eb7122] p-[20px]">
            <div class="text-center">
              <div class="w-[133px] h-[144px] md:w-[280px] md:h-[350px] mx-auto mx-auto">
                <img src="{{ section.settings.competitor_image | image_url }}" alt="Product" class="w-full h-full object-cover">
              </div>
              <p class="text-[14px] font-bold mt-[10px] min-h-[70px] md:min-h-auto">OTHER</p>
            </div>
          <ul class="mt-[10px] space-y-[20px] mr-[-50px] md:mr-0">
            <li class="text-red-500 text-[18px]"><svg width='27' height='27' viewBox='0 0 27 27' fill='none' xmlns='http://www.w3.org/2000/svg'><circle cx='13.7845' cy='13.6183' r='13.2155' fill='#CF0E0E'/><path d='M7.77753 19.4331L20.0559 7.61133' stroke='white' stroke-width='4.22896' stroke-linecap='round' stroke-linejoin='round'/><path d='M19.7916 19.4331L7.5133 7.61133' stroke='white' stroke-width='4.22896' stroke-linecap='round' stroke-linejoin='round'/></svg></li>
            <li class="text-red-500 text-[18px]"><svg width='27' height='27' viewBox='0 0 27 27' fill='none' xmlns='http://www.w3.org/2000/svg'><circle cx='13.7845' cy='13.6183' r='13.2155' fill='#CF0E0E'/><path d='M7.77753 19.4331L20.0559 7.61133' stroke='white' stroke-width='4.22896' stroke-linecap='round' stroke-linejoin='round'/><path d='M19.7916 19.4331L7.5133 7.61133' stroke='white' stroke-width='4.22896' stroke-linecap='round' stroke-linejoin='round'/></svg></li>
            <li class="text-red-500 text-[18px]"><svg width='27' height='27' viewBox='0 0 27 27' fill='none' xmlns='http://www.w3.org/2000/svg'><circle cx='13.7845' cy='13.6183' r='13.2155' fill='#CF0E0E'/><path d='M7.77753 19.4331L20.0559 7.61133' stroke='white' stroke-width='4.22896' stroke-linecap='round' stroke-linejoin='round'/><path d='M19.7916 19.4331L7.5133 7.61133' stroke='white' stroke-width='4.22896' stroke-linecap='round' stroke-linejoin='round'/></svg></li>
            <li class="text-red-500 text-[18px]"><svg width='27' height='27' viewBox='0 0 27 27' fill='none' xmlns='http://www.w3.org/2000/svg'><circle cx='13.7845' cy='13.6183' r='13.2155' fill='#CF0E0E'/><path d='M7.77753 19.4331L20.0559 7.61133' stroke='white' stroke-width='4.22896' stroke-linecap='round' stroke-linejoin='round'/><path d='M19.7916 19.4331L7.5133 7.61133' stroke='white' stroke-width='4.22896' stroke-linecap='round' stroke-linejoin='round'/></svg></li>
            <li class="text-red-500 text-[18px]"><svg width='27' height='27' viewBox='0 0 27 27' fill='none' xmlns='http://www.w3.org/2000/svg'><circle cx='13.7845' cy='13.6183' r='13.2155' fill='#CF0E0E'/><path d='M7.77753 19.4331L20.0559 7.61133' stroke='white' stroke-width='4.22896' stroke-linecap='round' stroke-linejoin='round'/><path d='M19.7916 19.4331L7.5133 7.61133' stroke='white' stroke-width='4.22896' stroke-linecap='round' stroke-linejoin='round'/></svg></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

