<div class="product-specs">
  <div>
    <h2 class="product-specs__title">{{ section.settings.title }}</h2>

    <div class="spec-accordion">
      <!-- Dimensions Accordion -->
      <div class="spec-accordion__item">
        <div class="spec-accordion__header">
          <span>Dimensions (Per Dumbbell):</span>
          <button class="spec-accordion__toggle" aria-label="Toggle dimensions details">
            <span class="toggle-icon">+</span>
          </button>
        </div>
        <div class="spec-accordion__content">
          <div class="spec-accordion__content-inner">
            {{ section.settings.dimensions_content }}
          </div>
        </div>
      </div>

      <!-- Weight Settings Accordion -->
      <div class="spec-accordion__item">
        <div class="spec-accordion__header">
          <span>Weight Settings:</span>
          <button class="spec-accordion__toggle" aria-label="Toggle weight settings details">
            <span class="toggle-icon">+</span>
          </button>
        </div>
        <div class="spec-accordion__content">
          <div class="spec-accordion__content-inner">
            {{ section.settings.weight_content }}
          </div>
        </div>
      </div>

      <!-- Material Composition Accordion -->
      <div class="spec-accordion__item">
        <div class="spec-accordion__header">
          <span>Material Composition:</span>
          <button class="spec-accordion__toggle" aria-label="Toggle material composition details">
            <span class="toggle-icon">+</span>
          </button>
        </div>
        <div class="spec-accordion__content">
          <div class="spec-accordion__content-inner">
            {{ section.settings.material_content }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <svg
      width="459"
      height="146"
      viewBox="0 0 459 146"
      fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_141_2044)">
        <path d="M0 39.6631C0 17.9966 17.5642 0.432373 39.2308 0.432373H419.769C441.436 0.432373 459 17.9966 459 39.6631V145.586H0V39.6631Z" fill="black" />
        <path d="M326.596 63.2017H132.404C122.112 63.2017 113.769 71.5447 113.769 81.8363C113.769 92.1279 122.112 100.471 132.404 100.471H326.596C336.888 100.471 345.231 92.1279 345.231 81.8363C345.231 71.5447 336.888 63.2017 326.596 63.2017Z" fill="white" />
        <path d="M230.481 86.7401C242.939 86.7401 253.038 76.6407 253.038 64.1824C253.038 51.7242 242.939 41.6248 230.481 41.6248C218.023 41.6248 207.923 51.7242 207.923 64.1824C207.923 76.6407 218.023 86.7401 230.481 86.7401Z" fill="white" />
      </g>
      <defs>
        <clipPath id="clip0_141_2044">
          <rect
            width="459"
            height="145.154"
            fill="white"
            transform="translate(0 0.432373)" />
        </clipPath>
      </defs>
    </svg>

    <div class="product-specs__included-in-the-box">

      <p class="product-specs__included-in-the-box-title">
        Included in the box
      </p>
      <div class="product-specs__included-in-the-box-items">
        <div class="product-specs__included-in-the-box-item">
          <svg
            width="72"
            height="72"
            viewBox="0 0 72 72"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <mask id="path-1-inside-1_141_2051" fill="white">
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M44.8794 46.7362H44.0093C41.8604 46.7362 40.0668 48.2627 39.6406 50.2862H32.3594C32.148 49.284 31.5988 48.3846 30.8036 47.7385C30.0085 47.0923 29.0155 46.7385 27.9907 46.7362H27.1206V44.9079C27.1206 43.5098 26.5649 42.1689 25.5757 41.1802C24.5866 40.1916 23.245 39.6362 21.8462 39.6362H16.4297C15.0309 39.6362 13.6893 40.1916 12.7002 41.1802C11.711 42.1689 11.1553 43.5098 11.1553 44.9079V46.7362H10.2851C8.13632 46.7362 6.34267 48.2627 5.91646 50.2862H5.82766C4.40695 50.2862 3.05728 50.8542 2.06278 51.8482C1.06828 52.8422 0.5 54.2089 0.5 55.6112C0.5 57.0134 1.06828 58.3802 2.06278 59.3742C3.05728 60.3682 4.42471 60.9362 5.82766 60.9362H5.91646C6.34267 62.9597 8.13632 64.4862 10.2851 64.4862H11.1553V66.3144C11.1553 67.7126 11.711 69.0535 12.7002 70.0421C13.6893 71.0308 15.0309 71.5862 16.4297 71.5862H21.8462C23.245 71.5862 24.5866 71.0308 25.5757 70.0421C26.5649 69.0535 27.1206 67.7126 27.1206 66.3144V64.4862H27.9907C30.1396 64.4862 31.9332 62.9597 32.3594 60.9362H39.6406C40.0668 62.9597 41.8604 64.4862 44.0093 64.4862H44.8794V66.3144C44.8794 67.7126 45.4351 69.0535 46.4243 70.0421C47.4134 71.0308 48.755 71.5862 50.1538 71.5862H55.5703C56.9691 71.5862 58.3107 71.0308 59.2998 70.0421C60.289 69.0535 60.8447 67.7126 60.8447 66.3144V64.4862H61.7149C63.8637 64.4862 65.6573 62.9597 66.0835 60.9362H66.1723C67.593 60.9362 68.9427 60.3682 69.9372 59.3742C70.9317 58.3802 71.5 57.0134 71.5 55.6112C71.5 54.2089 70.9317 52.8422 69.9372 51.8482C68.9427 50.8542 67.5753 50.2862 66.1723 50.2862H66.0835C65.8721 49.284 65.3229 48.3846 64.5277 47.7385C63.7326 47.0923 62.7396 46.7385 61.7149 46.7362H60.8447V44.9079C60.8447 43.5098 60.289 42.1689 59.2998 41.1802C58.3107 40.1916 56.9691 39.6362 55.5703 39.6362H50.1538C48.755 39.6362 47.4134 40.1916 46.4243 41.1802C45.4351 42.1689 44.8794 43.5098 44.8794 44.9079V46.7362ZM57.3107 66.3144V44.9257C57.3107 44.469 57.1292 44.0311 56.8061 43.7082C56.4831 43.3853 56.0449 43.2039 55.588 43.2039H50.1716C49.7147 43.2039 49.2766 43.3853 48.9535 43.7082C48.6305 44.0311 48.449 44.469 48.449 44.9257V66.3144C48.449 67.2729 49.2304 68.0362 50.1716 68.0362H55.588C56.547 68.0362 57.3107 67.2552 57.3107 66.3144ZM23.5688 66.3144V44.9257C23.5688 44.469 23.3873 44.0311 23.0642 43.7082C22.7412 43.3853 22.303 43.2039 21.8462 43.2039H16.4297C15.9728 43.2039 15.5347 43.3853 15.2116 43.7082C14.8886 44.0311 14.7071 44.469 14.7071 44.9257V66.3144C14.7071 67.2729 15.4885 68.0362 16.4297 68.0362H21.8462C22.8052 68.0362 23.5688 67.2552 23.5688 66.3144ZM51.983 59.1612V62.7112C51.0062 62.7112 50.2071 63.5099 50.2071 64.4862C50.2071 65.4624 51.0062 66.2612 51.983 66.2612H53.7589C54.7356 66.2612 55.5348 65.4624 55.5348 64.4862V59.1612C55.5348 58.1849 54.7356 57.3862 53.7589 57.3862C52.7821 57.3862 51.983 58.1849 51.983 59.1612ZM18.2411 46.7362V62.7112C17.2644 62.7112 16.4652 63.5099 16.4652 64.4862C16.4652 65.4624 17.2644 66.2612 18.2411 66.2612H20.017C20.9937 66.2612 21.7929 65.4624 21.7929 64.4862V46.7362C21.7929 45.7599 20.9937 44.9612 20.017 44.9612C19.0403 44.9612 18.2411 45.7599 18.2411 46.7362ZM60.8624 50.2862H61.7326C62.2299 50.2862 62.6383 50.6944 62.6383 51.1914V60.0309C62.6383 60.5279 62.2299 60.9362 61.7326 60.9362H60.8624V50.2862ZM27.1206 50.2862H27.9907C28.488 50.2862 28.8964 50.6944 28.8964 51.1914V60.0309C28.8964 60.5279 28.488 60.9362 27.9907 60.9362H27.1206V50.2862ZM11.1376 50.2862V60.9362H10.2674C9.77013 60.9362 9.36168 60.5279 9.36168 60.0309V51.1914C9.36168 50.6944 9.77013 50.2862 10.2674 50.2862H11.1376ZM44.8794 50.2862V60.9362H44.0093C43.512 60.9362 43.1035 60.5279 43.1035 60.0309V51.1914C43.1035 50.6944 43.512 50.2862 44.0093 50.2862H44.8794ZM32.4482 53.8362H39.5518V57.3862H32.4482V53.8362ZM66.1901 53.8362V57.3862C66.6696 57.3862 67.1135 57.1909 67.451 56.8714C67.7884 56.5342 67.966 56.0904 67.966 55.6112C67.966 55.1319 67.7706 54.6882 67.451 54.3509C67.2856 54.1856 67.0889 54.0549 66.8724 53.9666C66.6559 53.8782 66.4239 53.8339 66.1901 53.8362ZM5.8099 53.8362C5.33041 53.8362 4.88644 54.0314 4.54902 54.3509C4.21161 54.6882 4.03402 55.1319 4.03402 55.6112C4.03402 56.0904 4.22936 56.5342 4.54902 56.8714C4.88644 57.2087 5.33041 57.3862 5.8099 57.3862V53.8362ZM44.8794 7.68618H44.0093C41.8604 7.68618 40.0668 9.21268 39.6406 11.2362H32.3594C32.148 10.234 31.5988 9.33462 30.8036 8.68848C30.0085 8.04233 29.0155 7.68853 27.9907 7.68618H27.1206V5.85793C27.1206 4.45978 26.5649 3.11889 25.5757 2.13024C24.5866 1.1416 23.245 0.586182 21.8462 0.586182H16.4297C15.0309 0.586182 13.6893 1.1416 12.7002 2.13024C11.711 3.11889 11.1553 4.45978 11.1553 5.85793V7.68618H10.2851C8.13632 7.68618 6.34267 9.21268 5.91646 11.2362H5.82766C4.40695 11.2362 3.05728 11.8042 2.06278 12.7982C1.06828 13.7922 0.5 15.1589 0.5 16.5612C0.5 17.9634 1.06828 19.3302 2.06278 20.3242C3.05728 21.3182 4.42471 21.8862 5.82766 21.8862H5.91646C6.34267 23.9097 8.13632 25.4362 10.2851 25.4362H11.1553V27.2644C11.1553 28.6626 11.711 30.0035 12.7002 30.9921C13.6893 31.9808 15.0309 32.5362 16.4297 32.5362H21.8462C23.245 32.5362 24.5866 31.9808 25.5757 30.9921C26.5649 30.0035 27.1206 28.6626 27.1206 27.2644V25.4362H27.9907C30.1396 25.4362 31.9332 23.9097 32.3594 21.8862H39.6406C40.0668 23.9097 41.8604 25.4362 44.0093 25.4362H44.8794V27.2644C44.8794 28.6626 45.4351 30.0035 46.4243 30.9921C47.4134 31.9808 48.755 32.5362 50.1538 32.5362H55.5703C56.9691 32.5362 58.3107 31.9808 59.2998 30.9921C60.289 30.0035 60.8447 28.6626 60.8447 27.2644V25.4362H61.7149C63.8637 25.4362 65.6573 23.9097 66.0835 21.8862H66.1723C67.593 21.8862 68.9427 21.3182 69.9372 20.3242C70.9317 19.3302 71.5 17.9634 71.5 16.5612C71.5 15.1589 70.9317 13.7922 69.9372 12.7982C68.9427 11.8042 67.5753 11.2362 66.1723 11.2362H66.0835C65.8721 10.234 65.3229 9.33462 64.5277 8.68848C63.7326 8.04233 62.7396 7.68853 61.7149 7.68618H60.8447V5.85793C60.8447 4.45978 60.289 3.11889 59.2998 2.13024C58.3107 1.1416 56.9691 0.586182 55.5703 0.586182H50.1538C48.755 0.586182 47.4134 1.1416 46.4243 2.13024C45.4351 3.11889 44.8794 4.45978 44.8794 5.85793V7.68618ZM23.5688 27.2644V5.85793C23.5688 5.40129 23.3873 4.96336 23.0642 4.64047C22.7412 4.31758 22.303 4.13618 21.8462 4.13618H16.4297C15.9728 4.13618 15.5347 4.31758 15.2116 4.64047C14.8886 4.96336 14.7071 5.40129 14.7071 5.85793V27.2467C14.7071 28.2052 15.4885 28.9684 16.4297 28.9684H21.8462C22.8052 28.9684 23.5688 28.1874 23.5688 27.2467V27.2644ZM57.3107 27.2644V5.85793C57.3107 5.40129 57.1292 4.96336 56.8061 4.64047C56.4831 4.31758 56.0449 4.13618 55.588 4.13618H50.1716C49.7147 4.13618 49.2766 4.31758 48.9535 4.64047C48.6305 4.96336 48.449 5.40129 48.449 5.85793V27.2467C48.449 28.2052 49.2304 28.9684 50.1716 28.9684H55.588C56.547 28.9684 57.3107 28.1874 57.3107 27.2467V27.2644ZM53.7589 25.4362V9.46118C54.7356 9.46118 55.5348 8.66243 55.5348 7.68618C55.5348 6.70993 54.7356 5.91118 53.7589 5.91118H51.983C51.0062 5.91118 50.2071 6.70993 50.2071 7.68618V25.4362C50.2071 26.4124 51.0062 27.2112 51.983 27.2112C52.9597 27.2112 53.7589 26.4124 53.7589 25.4362ZM60.8624 11.2362H61.7326C62.2299 11.2362 62.6383 11.6444 62.6383 12.1414V20.9809C62.6383 21.4779 62.2299 21.8862 61.7326 21.8862H60.8624V11.2362ZM27.1206 11.2362H27.9907C28.488 11.2362 28.8964 11.6444 28.8964 12.1414V20.9809C28.8964 21.4779 28.488 21.8862 27.9907 21.8862H27.1206V11.2362ZM11.1376 11.2362V21.8862H10.2674C9.77013 21.8862 9.36168 21.4779 9.36168 20.9809V12.1414C9.36168 11.6444 9.77013 11.2362 10.2674 11.2362H11.1376ZM44.8794 11.2362V21.8862H44.0093C43.512 21.8862 43.1035 21.4779 43.1035 20.9809V12.1414C43.1035 11.6444 43.512 11.2362 44.0093 11.2362H44.8794ZM39.5518 18.3362H32.4482V14.7862H39.5518V18.3362ZM66.1901 14.7862V18.3362C66.6696 18.3362 67.1135 18.1409 67.451 17.8214C67.7884 17.4842 67.966 17.0404 67.966 16.5612C67.966 16.0819 67.7706 15.6382 67.451 15.3009C67.2856 15.1356 67.0889 15.0049 66.8724 14.9166C66.6559 14.8282 66.4239 14.7838 66.1901 14.7862ZM5.8099 14.7862C5.33041 14.7862 4.88644 14.9814 4.54902 15.3009C4.21161 15.6382 4.03402 16.0819 4.03402 16.5612C4.03402 17.0404 4.22936 17.4842 4.54902 17.8214C4.88644 18.1587 5.33041 18.3362 5.8099 18.3362V14.7862ZM20.017 13.0112V9.46118C20.9937 9.46118 21.7929 8.66243 21.7929 7.68618C21.7929 6.70993 20.9937 5.91118 20.017 5.91118H18.2411C17.2644 5.91118 16.4652 6.70993 16.4652 7.68618V13.0112C16.4652 13.9874 17.2644 14.7862 18.2411 14.7862C19.2179 14.7862 20.017 13.9874 20.017 13.0112Z" />
            </mask>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M44.8794 46.7362H44.0093C41.8604 46.7362 40.0668 48.2627 39.6406 50.2862H32.3594C32.148 49.284 31.5988 48.3846 30.8036 47.7385C30.0085 47.0923 29.0155 46.7385 27.9907 46.7362H27.1206V44.9079C27.1206 43.5098 26.5649 42.1689 25.5757 41.1802C24.5866 40.1916 23.245 39.6362 21.8462 39.6362H16.4297C15.0309 39.6362 13.6893 40.1916 12.7002 41.1802C11.711 42.1689 11.1553 43.5098 11.1553 44.9079V46.7362H10.2851C8.13632 46.7362 6.34267 48.2627 5.91646 50.2862H5.82766C4.40695 50.2862 3.05728 50.8542 2.06278 51.8482C1.06828 52.8422 0.5 54.2089 0.5 55.6112C0.5 57.0134 1.06828 58.3802 2.06278 59.3742C3.05728 60.3682 4.42471 60.9362 5.82766 60.9362H5.91646C6.34267 62.9597 8.13632 64.4862 10.2851 64.4862H11.1553V66.3144C11.1553 67.7126 11.711 69.0535 12.7002 70.0421C13.6893 71.0308 15.0309 71.5862 16.4297 71.5862H21.8462C23.245 71.5862 24.5866 71.0308 25.5757 70.0421C26.5649 69.0535 27.1206 67.7126 27.1206 66.3144V64.4862H27.9907C30.1396 64.4862 31.9332 62.9597 32.3594 60.9362H39.6406C40.0668 62.9597 41.8604 64.4862 44.0093 64.4862H44.8794V66.3144C44.8794 67.7126 45.4351 69.0535 46.4243 70.0421C47.4134 71.0308 48.755 71.5862 50.1538 71.5862H55.5703C56.9691 71.5862 58.3107 71.0308 59.2998 70.0421C60.289 69.0535 60.8447 67.7126 60.8447 66.3144V64.4862H61.7149C63.8637 64.4862 65.6573 62.9597 66.0835 60.9362H66.1723C67.593 60.9362 68.9427 60.3682 69.9372 59.3742C70.9317 58.3802 71.5 57.0134 71.5 55.6112C71.5 54.2089 70.9317 52.8422 69.9372 51.8482C68.9427 50.8542 67.5753 50.2862 66.1723 50.2862H66.0835C65.8721 49.284 65.3229 48.3846 64.5277 47.7385C63.7326 47.0923 62.7396 46.7385 61.7149 46.7362H60.8447V44.9079C60.8447 43.5098 60.289 42.1689 59.2998 41.1802C58.3107 40.1916 56.9691 39.6362 55.5703 39.6362H50.1538C48.755 39.6362 47.4134 40.1916 46.4243 41.1802C45.4351 42.1689 44.8794 43.5098 44.8794 44.9079V46.7362ZM57.3107 66.3144V44.9257C57.3107 44.469 57.1292 44.0311 56.8061 43.7082C56.4831 43.3853 56.0449 43.2039 55.588 43.2039H50.1716C49.7147 43.2039 49.2766 43.3853 48.9535 43.7082C48.6305 44.0311 48.449 44.469 48.449 44.9257V66.3144C48.449 67.2729 49.2304 68.0362 50.1716 68.0362H55.588C56.547 68.0362 57.3107 67.2552 57.3107 66.3144ZM23.5688 66.3144V44.9257C23.5688 44.469 23.3873 44.0311 23.0642 43.7082C22.7412 43.3853 22.303 43.2039 21.8462 43.2039H16.4297C15.9728 43.2039 15.5347 43.3853 15.2116 43.7082C14.8886 44.0311 14.7071 44.469 14.7071 44.9257V66.3144C14.7071 67.2729 15.4885 68.0362 16.4297 68.0362H21.8462C22.8052 68.0362 23.5688 67.2552 23.5688 66.3144ZM51.983 59.1612V62.7112C51.0062 62.7112 50.2071 63.5099 50.2071 64.4862C50.2071 65.4624 51.0062 66.2612 51.983 66.2612H53.7589C54.7356 66.2612 55.5348 65.4624 55.5348 64.4862V59.1612C55.5348 58.1849 54.7356 57.3862 53.7589 57.3862C52.7821 57.3862 51.983 58.1849 51.983 59.1612ZM18.2411 46.7362V62.7112C17.2644 62.7112 16.4652 63.5099 16.4652 64.4862C16.4652 65.4624 17.2644 66.2612 18.2411 66.2612H20.017C20.9937 66.2612 21.7929 65.4624 21.7929 64.4862V46.7362C21.7929 45.7599 20.9937 44.9612 20.017 44.9612C19.0403 44.9612 18.2411 45.7599 18.2411 46.7362ZM60.8624 50.2862H61.7326C62.2299 50.2862 62.6383 50.6944 62.6383 51.1914V60.0309C62.6383 60.5279 62.2299 60.9362 61.7326 60.9362H60.8624V50.2862ZM27.1206 50.2862H27.9907C28.488 50.2862 28.8964 50.6944 28.8964 51.1914V60.0309C28.8964 60.5279 28.488 60.9362 27.9907 60.9362H27.1206V50.2862ZM11.1376 50.2862V60.9362H10.2674C9.77013 60.9362 9.36168 60.5279 9.36168 60.0309V51.1914C9.36168 50.6944 9.77013 50.2862 10.2674 50.2862H11.1376ZM44.8794 50.2862V60.9362H44.0093C43.512 60.9362 43.1035 60.5279 43.1035 60.0309V51.1914C43.1035 50.6944 43.512 50.2862 44.0093 50.2862H44.8794ZM32.4482 53.8362H39.5518V57.3862H32.4482V53.8362ZM66.1901 53.8362V57.3862C66.6696 57.3862 67.1135 57.1909 67.451 56.8714C67.7884 56.5342 67.966 56.0904 67.966 55.6112C67.966 55.1319 67.7706 54.6882 67.451 54.3509C67.2856 54.1856 67.0889 54.0549 66.8724 53.9666C66.6559 53.8782 66.4239 53.8339 66.1901 53.8362ZM5.8099 53.8362C5.33041 53.8362 4.88644 54.0314 4.54902 54.3509C4.21161 54.6882 4.03402 55.1319 4.03402 55.6112C4.03402 56.0904 4.22936 56.5342 4.54902 56.8714C4.88644 57.2087 5.33041 57.3862 5.8099 57.3862V53.8362ZM44.8794 7.68618H44.0093C41.8604 7.68618 40.0668 9.21268 39.6406 11.2362H32.3594C32.148 10.234 31.5988 9.33462 30.8036 8.68848C30.0085 8.04233 29.0155 7.68853 27.9907 7.68618H27.1206V5.85793C27.1206 4.45978 26.5649 3.11889 25.5757 2.13024C24.5866 1.1416 23.245 0.586182 21.8462 0.586182H16.4297C15.0309 0.586182 13.6893 1.1416 12.7002 2.13024C11.711 3.11889 11.1553 4.45978 11.1553 5.85793V7.68618H10.2851C8.13632 7.68618 6.34267 9.21268 5.91646 11.2362H5.82766C4.40695 11.2362 3.05728 11.8042 2.06278 12.7982C1.06828 13.7922 0.5 15.1589 0.5 16.5612C0.5 17.9634 1.06828 19.3302 2.06278 20.3242C3.05728 21.3182 4.42471 21.8862 5.82766 21.8862H5.91646C6.34267 23.9097 8.13632 25.4362 10.2851 25.4362H11.1553V27.2644C11.1553 28.6626 11.711 30.0035 12.7002 30.9921C13.6893 31.9808 15.0309 32.5362 16.4297 32.5362H21.8462C23.245 32.5362 24.5866 31.9808 25.5757 30.9921C26.5649 30.0035 27.1206 28.6626 27.1206 27.2644V25.4362H27.9907C30.1396 25.4362 31.9332 23.9097 32.3594 21.8862H39.6406C40.0668 23.9097 41.8604 25.4362 44.0093 25.4362H44.8794V27.2644C44.8794 28.6626 45.4351 30.0035 46.4243 30.9921C47.4134 31.9808 48.755 32.5362 50.1538 32.5362H55.5703C56.9691 32.5362 58.3107 31.9808 59.2998 30.9921C60.289 30.0035 60.8447 28.6626 60.8447 27.2644V25.4362H61.7149C63.8637 25.4362 65.6573 23.9097 66.0835 21.8862H66.1723C67.593 21.8862 68.9427 21.3182 69.9372 20.3242C70.9317 19.3302 71.5 17.9634 71.5 16.5612C71.5 15.1589 70.9317 13.7922 69.9372 12.7982C68.9427 11.8042 67.5753 11.2362 66.1723 11.2362H66.0835C65.8721 10.234 65.3229 9.33462 64.5277 8.68848C63.7326 8.04233 62.7396 7.68853 61.7149 7.68618H60.8447V5.85793C60.8447 4.45978 60.289 3.11889 59.2998 2.13024C58.3107 1.1416 56.9691 0.586182 55.5703 0.586182H50.1538C48.755 0.586182 47.4134 1.1416 46.4243 2.13024C45.4351 3.11889 44.8794 4.45978 44.8794 5.85793V7.68618ZM23.5688 27.2644V5.85793C23.5688 5.40129 23.3873 4.96336 23.0642 4.64047C22.7412 4.31758 22.303 4.13618 21.8462 4.13618H16.4297C15.9728 4.13618 15.5347 4.31758 15.2116 4.64047C14.8886 4.96336 14.7071 5.40129 14.7071 5.85793V27.2467C14.7071 28.2052 15.4885 28.9684 16.4297 28.9684H21.8462C22.8052 28.9684 23.5688 28.1874 23.5688 27.2467V27.2644ZM57.3107 27.2644V5.85793C57.3107 5.40129 57.1292 4.96336 56.8061 4.64047C56.4831 4.31758 56.0449 4.13618 55.588 4.13618H50.1716C49.7147 4.13618 49.2766 4.31758 48.9535 4.64047C48.6305 4.96336 48.449 5.40129 48.449 5.85793V27.2467C48.449 28.2052 49.2304 28.9684 50.1716 28.9684H55.588C56.547 28.9684 57.3107 28.1874 57.3107 27.2467V27.2644ZM53.7589 25.4362V9.46118C54.7356 9.46118 55.5348 8.66243 55.5348 7.68618C55.5348 6.70993 54.7356 5.91118 53.7589 5.91118H51.983C51.0062 5.91118 50.2071 6.70993 50.2071 7.68618V25.4362C50.2071 26.4124 51.0062 27.2112 51.983 27.2112C52.9597 27.2112 53.7589 26.4124 53.7589 25.4362ZM60.8624 11.2362H61.7326C62.2299 11.2362 62.6383 11.6444 62.6383 12.1414V20.9809C62.6383 21.4779 62.2299 21.8862 61.7326 21.8862H60.8624V11.2362ZM27.1206 11.2362H27.9907C28.488 11.2362 28.8964 11.6444 28.8964 12.1414V20.9809C28.8964 21.4779 28.488 21.8862 27.9907 21.8862H27.1206V11.2362ZM11.1376 11.2362V21.8862H10.2674C9.77013 21.8862 9.36168 21.4779 9.36168 20.9809V12.1414C9.36168 11.6444 9.77013 11.2362 10.2674 11.2362H11.1376ZM44.8794 11.2362V21.8862H44.0093C43.512 21.8862 43.1035 21.4779 43.1035 20.9809V12.1414C43.1035 11.6444 43.512 11.2362 44.0093 11.2362H44.8794ZM39.5518 18.3362H32.4482V14.7862H39.5518V18.3362ZM66.1901 14.7862V18.3362C66.6696 18.3362 67.1135 18.1409 67.451 17.8214C67.7884 17.4842 67.966 17.0404 67.966 16.5612C67.966 16.0819 67.7706 15.6382 67.451 15.3009C67.2856 15.1356 67.0889 15.0049 66.8724 14.9166C66.6559 14.8282 66.4239 14.7838 66.1901 14.7862ZM5.8099 14.7862C5.33041 14.7862 4.88644 14.9814 4.54902 15.3009C4.21161 15.6382 4.03402 16.0819 4.03402 16.5612C4.03402 17.0404 4.22936 17.4842 4.54902 17.8214C4.88644 18.1587 5.33041 18.3362 5.8099 18.3362V14.7862ZM20.017 13.0112V9.46118C20.9937 9.46118 21.7929 8.66243 21.7929 7.68618C21.7929 6.70993 20.9937 5.91118 20.017 5.91118H18.2411C17.2644 5.91118 16.4652 6.70993 16.4652 7.68618V13.0112C16.4652 13.9874 17.2644 14.7862 18.2411 14.7862C19.2179 14.7862 20.017 13.9874 20.017 13.0112Z"
              fill="black"
              stroke="white"
              stroke-width="1.4"
              mask="url(#path-1-inside-1_141_2051)" />
          </svg>
          <p class="product-specs__included-in-the-box-title_item">
            Adjustable Dumbbells ×2
          </p>
        </div>
        <div class="product-specs__included-in-the-box-item">
          <svg
            width="72"
            height="72"
            viewBox="0 0 72 72"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <mask id="path-1-inside-1_141_2054" fill="white">
              <path d="M12.9095 46.244C13.0946 46.2443 13.2779 46.208 13.449 46.1371C13.62 46.0663 13.7754 45.9624 13.9061 45.8314L22.8109 36.9318C23.0752 36.6676 23.2237 36.3093 23.2237 35.9357C23.2237 35.5621 23.0752 35.2038 22.8109 34.9396L20.5338 32.6637L32.5959 20.6086L34.8729 22.8842C35.0038 23.0151 35.1592 23.1188 35.3302 23.1896C35.5012 23.2604 35.6845 23.2969 35.8696 23.2969C36.0547 23.2969 36.238 23.2604 36.4091 23.1896C36.5801 23.1188 36.7355 23.0151 36.8663 22.8842L42.9757 16.7783L42.9773 16.7767L42.9789 16.775L45.7708 13.9846C46.0351 13.7204 46.1836 13.3621 46.1836 12.9886C46.1836 12.615 46.0351 12.2567 45.7708 11.9926L34.771 0.998766C34.5067 0.734592 34.1482 0.586182 33.7743 0.586182C33.4005 0.586182 33.042 0.734592 32.7777 0.998766L23.8729 9.89841C23.6086 10.1626 23.4601 10.5209 23.4601 10.8945C23.4601 11.2681 23.6086 11.6264 23.8729 11.8906L26.15 14.1663L14.0879 26.2215L11.8109 23.9457C11.68 23.8149 11.5246 23.7111 11.3536 23.6403C11.1826 23.5695 10.9993 23.533 10.8142 23.533C10.6291 23.533 10.4458 23.5695 10.2747 23.6403C10.1037 23.7111 9.94833 23.8149 9.81744 23.9457L7.02439 26.7373L0.912822 32.8453C0.648496 33.1095 0.5 33.4678 0.5 33.8414C0.5 34.215 0.648496 34.5733 0.912822 34.8375L11.9122 45.8311C12.043 45.9623 12.1984 46.0663 12.3696 46.1371C12.5407 46.208 12.7242 46.2443 12.9095 46.244ZM8.02048 29.7261L17.0271 38.7276L15.7038 40.0508L6.6971 31.0493L8.02048 29.7261ZM26.863 10.8945L27.6633 10.0946L36.67 19.0961L35.8697 19.8959L26.863 10.8945ZM30.9807 6.77916L39.9874 15.7807L38.6635 17.104L29.6568 8.10248L30.9807 6.77916ZM42.7809 12.9885L41.9807 13.7882L32.974 4.78672L33.7743 3.98687L42.7809 12.9885ZM28.1434 16.158L30.6021 18.6162L18.54 30.6713L16.0811 28.2137L28.1434 16.158ZM13.0906 29.2091L17.5422 33.6574L19.8194 35.9333L19.019 36.7332L10.0124 27.7317L10.8127 26.9319L13.0906 29.2091ZM4.70309 33.0416L13.7098 42.0431L12.9095 42.8429L3.90278 33.8414L4.70309 33.0416ZM60.0888 26.3414C59.8244 26.0772 59.4659 25.9288 59.0921 25.9288C58.7183 25.9288 58.3598 26.0772 58.0954 26.3414L49.1907 35.241C48.9264 35.5052 48.7779 35.8635 48.7779 36.2371C48.7779 36.6107 48.9264 36.969 49.1907 37.2332L51.4677 39.509L39.4057 51.5641L37.1281 49.2883C36.9972 49.1574 36.8418 49.0537 36.6708 48.9829C36.4998 48.9121 36.3165 48.8756 36.1314 48.8756C35.9463 48.8756 35.763 48.9121 35.5919 48.9829C35.4209 49.0537 35.2655 49.1574 35.1346 49.2883L29.0253 55.3942L29.0236 55.3958L29.0221 55.3975L26.2302 58.1879C25.9659 58.4521 25.8174 58.8104 25.8174 59.1839C25.8174 59.5575 25.9659 59.9158 26.2302 60.1799L37.23 71.1736C37.4943 71.4378 37.8528 71.5862 38.2267 71.5862C38.6005 71.5862 38.959 71.4378 39.2233 71.1736L48.1281 62.2739C48.3924 62.0098 48.5409 61.6515 48.5409 61.2779C48.5409 60.9043 48.3924 60.546 48.1281 60.2818L45.851 58.0061L57.9131 45.9508L60.1901 48.2267C60.321 48.3575 60.4764 48.4613 60.6474 48.5321C60.8184 48.6029 61.0017 48.6393 61.1868 48.6393C61.3719 48.6393 61.5552 48.6029 61.7262 48.5321C61.8973 48.4613 62.0527 48.3575 62.1835 48.2267L64.9766 45.4351L71.0872 39.328C71.3515 39.0638 71.5 38.7055 71.5 38.3319C71.5 37.9583 71.3515 37.6 71.0872 37.3359L60.0888 26.3414ZM68.0988 38.3311L67.2985 39.1309L58.2918 30.1295L59.0921 29.3296L68.0988 38.3311ZM63.9811 42.4464L54.9744 33.4449L56.2985 32.1218L65.3052 41.1232L63.9811 42.4464ZM45.138 61.278L44.3377 62.0779L35.331 53.0764L36.1313 52.2767L45.138 61.278ZM41.0203 65.3933L32.0136 56.3918L33.3375 55.0685L42.3442 64.07L41.0203 65.3933ZM29.2208 59.184L30.021 58.3843L39.0277 67.3858L38.2274 68.1856L29.2208 59.184ZM43.8583 56.0145L41.3989 53.5563L53.461 41.5012L55.9199 43.9588L43.8583 56.0145ZM58.9117 42.964L54.4581 38.5137L52.1816 36.2385L52.9819 35.4386L61.9886 44.4401L61.1883 45.2398L58.9117 42.964Z" />
            </mask>
            <path
              d="M12.9095 46.244C13.0946 46.2443 13.2779 46.208 13.449 46.1371C13.62 46.0663 13.7754 45.9624 13.9061 45.8314L22.8109 36.9318C23.0752 36.6676 23.2237 36.3093 23.2237 35.9357C23.2237 35.5621 23.0752 35.2038 22.8109 34.9396L20.5338 32.6637L32.5959 20.6086L34.8729 22.8842C35.0038 23.0151 35.1592 23.1188 35.3302 23.1896C35.5012 23.2604 35.6845 23.2969 35.8696 23.2969C36.0547 23.2969 36.238 23.2604 36.4091 23.1896C36.5801 23.1188 36.7355 23.0151 36.8663 22.8842L42.9757 16.7783L42.9773 16.7767L42.9789 16.775L45.7708 13.9846C46.0351 13.7204 46.1836 13.3621 46.1836 12.9886C46.1836 12.615 46.0351 12.2567 45.7708 11.9926L34.771 0.998766C34.5067 0.734592 34.1482 0.586182 33.7743 0.586182C33.4005 0.586182 33.042 0.734592 32.7777 0.998766L23.8729 9.89841C23.6086 10.1626 23.4601 10.5209 23.4601 10.8945C23.4601 11.2681 23.6086 11.6264 23.8729 11.8906L26.15 14.1663L14.0879 26.2215L11.8109 23.9457C11.68 23.8149 11.5246 23.7111 11.3536 23.6403C11.1826 23.5695 10.9993 23.533 10.8142 23.533C10.6291 23.533 10.4458 23.5695 10.2747 23.6403C10.1037 23.7111 9.94833 23.8149 9.81744 23.9457L7.02439 26.7373L0.912822 32.8453C0.648496 33.1095 0.5 33.4678 0.5 33.8414C0.5 34.215 0.648496 34.5733 0.912822 34.8375L11.9122 45.8311C12.043 45.9623 12.1984 46.0663 12.3696 46.1371C12.5407 46.208 12.7242 46.2443 12.9095 46.244ZM8.02048 29.7261L17.0271 38.7276L15.7038 40.0508L6.6971 31.0493L8.02048 29.7261ZM26.863 10.8945L27.6633 10.0946L36.67 19.0961L35.8697 19.8959L26.863 10.8945ZM30.9807 6.77916L39.9874 15.7807L38.6635 17.104L29.6568 8.10248L30.9807 6.77916ZM42.7809 12.9885L41.9807 13.7882L32.974 4.78672L33.7743 3.98687L42.7809 12.9885ZM28.1434 16.158L30.6021 18.6162L18.54 30.6713L16.0811 28.2137L28.1434 16.158ZM13.0906 29.2091L17.5422 33.6574L19.8194 35.9333L19.019 36.7332L10.0124 27.7317L10.8127 26.9319L13.0906 29.2091ZM4.70309 33.0416L13.7098 42.0431L12.9095 42.8429L3.90278 33.8414L4.70309 33.0416ZM60.0888 26.3414C59.8244 26.0772 59.4659 25.9288 59.0921 25.9288C58.7183 25.9288 58.3598 26.0772 58.0954 26.3414L49.1907 35.241C48.9264 35.5052 48.7779 35.8635 48.7779 36.2371C48.7779 36.6107 48.9264 36.969 49.1907 37.2332L51.4677 39.509L39.4057 51.5641L37.1281 49.2883C36.9972 49.1574 36.8418 49.0537 36.6708 48.9829C36.4998 48.9121 36.3165 48.8756 36.1314 48.8756C35.9463 48.8756 35.763 48.9121 35.5919 48.9829C35.4209 49.0537 35.2655 49.1574 35.1346 49.2883L29.0253 55.3942L29.0236 55.3958L29.0221 55.3975L26.2302 58.1879C25.9659 58.4521 25.8174 58.8104 25.8174 59.1839C25.8174 59.5575 25.9659 59.9158 26.2302 60.1799L37.23 71.1736C37.4943 71.4378 37.8528 71.5862 38.2267 71.5862C38.6005 71.5862 38.959 71.4378 39.2233 71.1736L48.1281 62.2739C48.3924 62.0098 48.5409 61.6515 48.5409 61.2779C48.5409 60.9043 48.3924 60.546 48.1281 60.2818L45.851 58.0061L57.9131 45.9508L60.1901 48.2267C60.321 48.3575 60.4764 48.4613 60.6474 48.5321C60.8184 48.6029 61.0017 48.6393 61.1868 48.6393C61.3719 48.6393 61.5552 48.6029 61.7262 48.5321C61.8973 48.4613 62.0527 48.3575 62.1835 48.2267L64.9766 45.4351L71.0872 39.328C71.3515 39.0638 71.5 38.7055 71.5 38.3319C71.5 37.9583 71.3515 37.6 71.0872 37.3359L60.0888 26.3414ZM68.0988 38.3311L67.2985 39.1309L58.2918 30.1295L59.0921 29.3296L68.0988 38.3311ZM63.9811 42.4464L54.9744 33.4449L56.2985 32.1218L65.3052 41.1232L63.9811 42.4464ZM45.138 61.278L44.3377 62.0779L35.331 53.0764L36.1313 52.2767L45.138 61.278ZM41.0203 65.3933L32.0136 56.3918L33.3375 55.0685L42.3442 64.07L41.0203 65.3933ZM29.2208 59.184L30.021 58.3843L39.0277 67.3858L38.2274 68.1856L29.2208 59.184ZM43.8583 56.0145L41.3989 53.5563L53.461 41.5012L55.9199 43.9588L43.8583 56.0145ZM58.9117 42.964L54.4581 38.5137L52.1816 36.2385L52.9819 35.4386L61.9886 44.4401L61.1883 45.2398L58.9117 42.964Z"
              fill="black"
              stroke="white"
              stroke-width="0.6"
              mask="url(#path-1-inside-1_141_2054)" />
          </svg>

          <p class="product-specs__included-in-the-box-title_item">
            tray<br> ×2
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .product-specs {
    margin: 60px auto;
    width: 100%;
    max-width: 1750px;
    padding: 0 40px;
    display: flex;
    align-items: start;
    justify-content: space-between;
  }
  @media (max-width: 1300px) {
    .product-specs {
      gap: 80px;

    }
  }
  @media (max-width: 1240px) {
    .product-specs {
      margin-top: 0!important;

    }
    .product-specs{
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  .product-specs__title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 25px;
  }

  .spec-accordion__item {
    border-top: 1px solid #e5e5e5;
    overflow: hidden;
  }

  .spec-accordion__item:last-child {
    border-bottom: 1px solid #e5e5e5;
  }

  .spec-accordion__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.3s ease;
  }
  .spec-accordion__header span {
    font-size: 16px;
    font-weight: 700;
  }

  .spec-accordion__header:hover {
    background-color: rgba(0, 0, 0, 0.02);
  }

  .spec-accordion__toggle {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    color: #888;
    transition: color 0.3s ease;
  }

  .spec-accordion__item.active .spec-accordion__toggle {
    color: #ff5722;
  }

  .toggle-icon {
    transition: transform 0.4s ease;
    display: inline-block;
    line-height: 1;
  }

  .spec-accordion__item.active .toggle-icon {
    transform: rotate(45deg);
  }

  .spec-accordion__content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s cubic-bezier(0, 1, 0, 1);
  }

  .spec-accordion__content-inner {
    padding: 0 0 20px;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease
    , transform 0.3s ease;
    font-size: 16px;
  }

  .spec-accordion__item.active .spec-accordion__content {
    max-height: 1000px;
    transition: max-height 0.4s ease-in-out;
  }

  .spec-accordion__item.active .spec-accordion__content-inner {
    opacity: 1;
    transform: translateY(0);
  }

  .spec-accordion__content p {
    margin: 10px 0;
    line-height: 1.6;
    color: #555;
  }
  .product-specs__included-in-the-box-title {
    font-size: 36px;
    text-align: center;
    font-weight: 700;
  }
  .product-specs__included-in-the-box-items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
  }
  .product-specs__included-in-the-box-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .product-specs__included-in-the-box-title_item {
    width: 120px;
    text-align: center;
    margin: 0 auto;
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const accordionItems = document.querySelectorAll('.spec-accordion__item');
    
    // Set first item as active initially
    if (accordionItems.length > 0) {
        accordionItems[0].classList.add('active');
    }
    
    accordionItems.forEach(item => {
        const header = item.querySelector('.spec-accordion__header');
        
        header.addEventListener('click', function() {
            // Toggle active class on the clicked item
            const isActive = item.classList.contains('active');
            
            // Close all accordion items
            accordionItems.forEach(accItem => {
      accItem.classList.remove('active');
            });
            
            // If the clicked item wasn't active, open it
            if (!isActive) {
      item.classList.add('active');
            }
        });
    });
  });
</script>

{% schema %}
  {
    "name": "Product Specifications",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Section Title",
        "default": "Product specs"
      },
      {
        "type": "header",
        "content": "Dimensions Content"
      },
      {
        "type": "richtext",
        "id": "dimensions_content",
        "label": "Dimensions Content",
        "default": "<p>Length: 15.9 inches (40.4 cm)</p><p>Width: 9 inches (22.9 cm)</p><p>Height: 9.4 inches (23.9 cm)</p>"
      },
      {
        "type": "header",
        "content": "Weight Settings Content"
      },
      {
        "type": "richtext",
        "id": "weight_content",
        "label": "Weight Settings Content",
        "default": "<p>Adjustable Range: 11 to 88 lbs</p><p>Increments: 7 lbs</p><p>Available weights: 11, 18, 25, 32, 39, 46, 53, 60, 67, 74, 81, 88 pounds.</p>"
      },
      {
        "type": "header",
        "content": "Material Composition Content"
      },
      {
        "type": "richtext",
        "id": "material_content",
        "label": "Material Composition Content",
        "default": "<p>High-quality steel for weight plates and plate-holding inner discs.</p><p>Reinforced plastic for a durable and stable base.</p><p>Laser-cut steel plates, precision-engineered for a premium feel and performance.</p>"
      }
    ],
    "presets": [
      {
        "name": "Product Specifications"
      }
    ]
  }
{% endschema %}