.hero-banner {
  position: relative;
  height: 780px;
  padding: 0 20px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  color: #fff;
  font-family: "IBMPlexMonoBold", monospace;
  font-family: "IBMPlexMonoBold", monospace;
  border-bottom: 1px solid #515151;
}

.hero-banner__overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
}

.hero-banner__content {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 1750px;
  margin: 0 auto;
  display: flex;
  align-items: end;
  justify-content: space-between;
  top: 100px;
}

.hero-banner__title {
  font-size: 64px;
  letter-spacing: 0.08em;
  margin-bottom: 1.5rem;
  max-width: 540px;
  line-height: 64px;
}

.hero-banner__subtitle {
  font-size: 1rem;
  margin-bottom: 2.5rem;
  font-family: "Barlow";
  letter-spacing: 0.08em;
}

.hero-banner__buttons {
  display: flex;
  gap: 20px;
}

.hero-banner__button {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 0.9em 2.2em;
  font-size: 1rem;
  font-family: inherit;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  border-radius: 6px;
  transition: background 0.2s, color 0.2s;
  text-decoration: none;
  font-weight: 600;
}

.hero-banner__button:hover,
.hero-banner__button:focus {
  background: #eb701f !important;
  color: #111;
}

.hero-banner__button--secondary {
  border-color: #fff;
  background: rgba(255, 255, 255, 0) !important;
}
@media screen and (max-width: 1024px) {
  .hero-banner {
    background-position: center right;
  }
}
@media screen and (max-width: 768px) {
  .hero-banner__title {
    font-size: 48px;
    line-height: 48px;
  }
  .hero-banner__buttons {
    flex-direction: column;
  }
  .hero-banner__button {
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .hero-banner {
    padding: 0 10px;
  }
}
@media screen and (max-width: 480px) {
  .hero-banner__title {
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: -1px;
  }
}
